{{#each citys}}
  <div> {{{this.appartmentName}}}</div>
  <div>{{{this.state}}}</div>
  <div>{{{this.city}}}</div>
  <div>{{{this.address}}}</div>
  {{#each this.photos}}
  <img src="{{{ this }}}"></img>
   {{/each}}
  <div>{{{this.zipcode}}}</div>
  <div>{{{this.rentprice}}}</div>
  <div>{{{this.price}}}</div>
  <div>{{{this.size}}}</div>
  <div>{{{this.occupantCapacity}}}</div>
  {{#each this.reviews}}
  <div>{{{ this.name }}}</div>
  <div>{{{ this.rating }}}</div>
  <div>{{{ this.desc }}}</div>
  {{/each}}
{{/each}}