<div class="container">
  {{!<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#">List of available apartments</a>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
    </li>
  </div>
</nav>
 }}

  <div class="row row-cols-4">
    {{! <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light"> }}
    {{! Row column }}
    {{#each allApartmentListing}}
      <div class="col">
        <div class="p-3 border bg-light">

          <div class="card">
            {{!-- {{#each photos}} --}}
            {{!-- {{@index}}
            {{#if @first}} --}}

            {{#with this.photos}}
              <img
                class="card-img-top-down"
                src="public/{{this.[0]}}"
                alt="{{address}} image"
              />
            {{/with}}

            {{!-- {{/if}} --}}
            {{!-- {{/each}} --}}
            <button onclick="postBookmark('{{this._id}}')">bookmark</button>
            <div class="card-body">
              <p class="card-text">{{this.address}}</p>
              <p class="card-text">{{this.rent}} monthly</p>
              <a href="/apartment/{{this._id}}" class="click">For more details click here</a>
            </div>
          </div>

        </div>
      </div>

      {{! // }}
      {{!
                    </div>
                </div>
            </div>
        </div> }}
    {{/each}}
  </div>
  <script>
    function postBookmark (id) { fetch('/user/bookmark', { method: 'POST',
    headers: { "Content-Type": "application/json", }, body:JSON.stringify({
    apartId: id }) } )}
  </script>
</div>