{{#if error}}

<h3>{{error}}</h3>

{{/if}}


<div class="container">
<div class="row row-cols-4"> 
   
    {{!-- <div class="container">
      <div class="row row-cols-4"> --}}
  {{!--      <div class="col">
          <div class="p-3 border bg-light"> --}}
            {{!-- Row column --}}
             {{#each apartmentListing}}
             <div class = "col">
              <div class = "p-3 border bg-light" >
              
             <div class="card" >
              {{!--  {{#each photos}}    --}}
           {{!--      {{@index}} 
               {{#if @first}} --}}

               {{#with this.photos}}
              <img class="card-img-top1" src= "public/{{this.[0]}}" alt="Card image cap">     
        {{!--       alt="Card image cap" , src="public/"{{this.[0]}}--}}
               {{/with}}
         {{!--      {{/if}}   --}}
            {{!--  {{/each}}   --}}
              <div class="card-body">
                <p class="card-text">{{this.address}}</p>
                <p class="card-text">{{this.rent}} monthly</p>
                <a href="/apartment/{{this._id}}" class="click">For more details click here</a>
              </div>
             </div> 
              
            </div>
            </div>
            
            {{!-- // --}}
      {{!--    </div>
        </div> --}}
      
    {{!--   </div>
    </div>  --}}
 {{/each}}
  </div>
 
  </div> 


    {{!-- <div> {{{this.appartmentName}}}</div>
    <div>{{{this.state}}}</div>
    <div>{{{this.city}}}</div>
    <div>{{{this.address}}}</div>
    {{#each this.photos}}
    <img src="{{{ this }}}"></img>
    {{/each}}
    <div>{{{this.zipcode}}}</div>
    <div>{{{this.rentprice}}}</div>
    <div>{{{this.price}}}</div>
    <div>{{{this.size}}}</div>
    <div>{{{this.occupantCapacity}}}</div>
    {{#each this.reviews}}
    <div>{{{ this.name }}}</div>
    <div>{{{ this.rating }}}</div>
    <div>{{{ this.desc }}}</div>
    {{/each}}
    {{/each}} --}}