{{#if error}}

<h4>{{error}}</h4>

{{/if}}


<div class="container">
<div class="row row-cols-4"> 
   

             {{#each apartmentListing}}
             <div class = "col">
              <div class = "p-3 border bg-light" >
              
             <div class="card" >
              {{!--  {{#each photos}}    --}}
           {{!--      {{@index}} 
               {{#if @first}} --}}

               {{#with this.photos}}
              <img class="card-img-top1" src={{this.[0]}} alt="Card image cap">     

               {{/with}}




                        {{#if this.isBookmarked}}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bookmark-check-fill"
                viewBox="0 0 16 16"
                onclick="postBookmark('{{this._id}}')"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
                
                ></path>
              </svg>

            {{else}}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-bookmark"
                viewBox="0 0 16 16"
                onclick="postBookmark('{{this._id}}')"
              >
                <path
                  d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"
                ></path>
              </svg>

            {{/if}}



              <div class="card-body">
                <p class="card-text">{{this.address}}</p>
                <p class="card-text">{{this.rent}} monthly</p>
                <a href="/apartment/{{this._id}}" class="click">For more details click here</a>
              </div>
             </div> 
              
            </div>
            </div>
            

 {{/each}}
  </div>
 
   <script>
    async function postBookmark (id) {await fetch('/user/bookmark', { method: 'POST',
    headers: { "Content-Type": "application/json", }, body:JSON.stringify({
    apartId: id }) } )
    window.location.href= '/apartment'
    }
  </script> 
  

  </div> 

