
    {{#each allApartmentListing}}
   <div class="col-md-6 col-sm-6">
        <div class="real-estate-quick-view shadow">
            <h3 class="title text-capitalize"><a href="#">{{this.address}}</a></h3>
            <div class="media">
                <div class="media-left">

                </div>
                <div class="media-body">

                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="text-left">State</td>
                            <td class="text-right">{{this.state}}</td>
                        </tr>
                        <tr>
                            <td class="text-left">City</td>
                            <td class="text-right">{{this.city}}</td>
                        </tr>
                        <tr>
                            <td class="text-left">Square feet</td>
                            <td class="text-right">{{this.size}}</td>
                        </tr>
                         <tr>
                            <td class="text-left">Rent</td>
                            <td class="text-right">{{this.rent}}</td>
                        </tr>
                        
                        <tr>
                            <td class="text-left">Occupant Capacity</td>
                            <td class="text-right">{{this.occupantCapacity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
    
{{/each}}


