
  {{#each eachApartmentListing}}
 <div class="container">
  <div class = "row row-cols-2">  

   
  {{!--   <div class="container">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
          <div class="p-3 border bg-light"> --}}
            {{!-- Row column --}}
           
             <div class = "col">
              <div class = "p-3 border" >


 {{#each photos}}               
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    {{!--   <p>public/{{this}}</p> --}}
      <img src="../public/{{this}}" class="d-block w-100" alt="apartment image1">
    </div>
  
   <div class="carousel-item">
      <img src="../public/{{this}}" class="d-block w-80" alt="apartment image 2">  
    </div>
   
  </div>
   
    <div class="carousel-item">
      <img src="../public/{{this}}" class="d-block w-80" alt="apartment image 3">
    </div>
    <div class="carousel-item">
      <img src="../public/{{this}}" class="d-block w-80" alt="apartment image 4">
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{{/each}}  
</div>
</div>
             <div class = "col">
              <div class = "p-3 border" >
                <div class = "apartment-address"><h2>{{this.address}}</h2></div>
                 <div class = "apartment-address"><h4>{{this.city}}, {{this.state}}, {{this.zipcode}} </h4></div>
                  <div class = "apartment-address">Monthly Rent: {{this.rent}}</div>
                  <div class = "apartment-address">Size of the apartment: {{this.size}}</div>
                  <div class = "apartment-address">Occupant capacity: {{this.occupantCapacity}}</div>
                  <div class = "reviews">
                    <a href="/reviews/{{this._id}}" class="click">write a review</a> 
                  </div>  
                    {{#each reviews}}

                    <p>Rating: {{this.rating}}, Desciption: {{this.description}}</p>
                  {{!--   <p>Desciption: {{this.description}}</p> --}}

                   {{/each}}  
                    
{{!-- Monthly Rent:
Size of the apartment:
Occupant capacity: --}}
{{!--                   <div class="container">
  <div class="row">
    <div class="col-sm">{{this.rent}}</div>
    <div class="col-sm">{{this.size}}</div>
    <div class="col-sm">{{this.occupantCapacity}}</div>
  </div>
</div> --}}

             
            </div>
            </div>
            <div class = "col">
              <div class = "p-3 border" >

            <h1>map of the apartment</h1>
            <div id = "map" class="map"></div>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.OSM()

                  })
                ],
                view: new ol.view({
                  center: ol.proj.fromLonLat([37.41, 8.82]),
                  zoom: 4
                })
              });
            </div>
            </div>

             <div class = "col">
              <div class = "p-3 border" >

            <h2>Contact This Property</h2>
            <button type="button" class="btn btn-secondary">Contact Owner</button>
            </div>
            </div>
            {{!-- // --}}
        {{!--   </div>
        </div>
      </div>
    </div> --}}
  
  </div>
  </div> 

  {{/each}}