<body>

  {{#each apartmentListing}}
  <header>


    <div class="row row-cols-2">




              <div class="col">
                <div class="p-3 border">

                  <div class="container">
                    {{#with this.photos}}
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">

                        <div class="carousel-item active">
                          <img src={{this.[0]}} class="d-block w-100" alt="...">
                        </div>
                        {{#each this}}
                        {{#if @first}}
                        {{else}}
                        <div class="carousel-item">
                          <img src={{this}} class="d-block w-100" alt="...">
                        </div>
                        {{/if}}
                        {{/each}}
                      </div>


                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>




                    {{/with}}
  
  </div>
  </header>
  <section class="my-5" id="nav_about_us">
    <div>
      <h4 class="display-6 text-center ">Details</h4>
      <hr class="w-25 mx-auto">
      <div class="container">
        <div class="row my-5">
          <div class="col col-xl-6 col-md-6 col-12">

            <div id="map" class="map"></div>
                    <script type="text/javascript">
                        var geocoder = new google.maps.Geocoder();
                        var address = "{{this.address}}";
                        geocoder.geocode( { 'address': address}, function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                var latitude = results[0].geometry.location.lat();
                                var longitude = results[0].geometry.location.lng();
                                var pos = [longitude, latitude]
                                var map = new ol.Map({
                                    target: 'map',
                                    layers: [
                                        new ol.layer.Tile({
                                            source: new ol.source.OSM()
                                        })
                                    ],
                                    view: new ol.View({
                                        center: ol.proj.fromLonLat(pos),
                                        zoom: 18
                                    })
                                });
                                var feature = new ol.Feature({

                                    geometry: new ol.geom.Point(ol.proj.fromLonLat(pos))
                                })
                                feature.setStyle(new ol.style.Style({
                                    image: new ol.style.Icon(({
                                        anchor: [0.5, 36],
                                        anchorXUnits: "fraction",
                                        anchorYUnits: "pixels",
                                        opacity: 1,
                                        src: "https://openlayers.org/en/latest/examples/data/icon.png",
                                    })),
                                }));
                                var layer = new ol.layer.Vector({
                                    source: new ol.source.Vector({
                                        features: [feature]
                                    })
                                });
                                map.addLayer(layer);
                            } else {
                                alert('Geocode was not successful for the following reason: ' + status);
                            }
                        });
                    </script>
                </div>

          </div>
          <div
            class=" col col-xl-6 col-md-6 col-12 d-flex justify-content-center align-items-center flex-column about_us_text ">


              <div class="apartment-address">
                <h2>{{this.address}}</h2>
              </div>
              <div class="apartment-address">
                <h4>{{this.city}}, {{this.state}}, {{this.zipcode}} </h4>
              </div>
              <div class="apartment-address">Monthly Rent: ${{this.rent}}</div>
              <div class="apartment-address">Size of the apartment: {{this.size}} square foot</div>
              <div class="apartment-address">Occupant capacity: {{this.occupantCapacity}} members</div>
              <div class="apartment-address">Contact property: {{this.contactInfo}}</div>

              <br>
              <a href="/reviews/{{this._id}}" class="btn btn-warning display-6 rounded-pill">Write a review</a>

              {{#if ../isDelete}}
              <button class="btn btn-warning display-6 rounded-pill"
                onclick="deleteApartment('{{this._id}}')">delete</button>
              {{/if}}

          </div>
        </div>

      </div>
    </div>
  </section>
  </div>
  <section class="mt-5 bg-dark pb-5">
    <div>
      <h4 class="display-6 text-center text-warning pt-3">Reviews</h4>
      <hr class="w-25 mx-auto text-warning" />
      <div class="container">

        <div class="card-group">

          <div class="card mx-2 border-0 rounded-3">

            {{#each reviews}}
            <div class="card-body">
              <h5 class="card-title">Rating: {{this.rating}}</h5>
              <p class="card-text">Desciption: {{this.description}}</p>
              <p class="card-text"><small class="text-muted">{{this.name}}</small></p>

            </div>

            {{/each}}
          </div>

        </div>

      </div>
    </div>

  </section>


  {{/each}}
  <script>
    async function deleteApartment(id) {
      await fetch(`/apartment/${id}`, {
        method: 'DELETE', headers: { "Content-Type": "application/json", }
      })
      window.location.href = '/apartment'
    }
  </script>
</body>